body {
    margin: 0 0 0 0;
    background-color: #fff8dc;
}

header {
    padding: 2.5em 0 0 0;
    font-size: 1.2em;
    width: 100%;
    background-color: #fff8dc;
    z-index: 990;
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-weight: bold;
}

.tabs {
    margin: 0 5em 0 5em;
    padding: 0 0 0 0;
    display: flex;
    list-style: none;
}

.tab-item {
    border-radius: 4px;
    margin: 0 2em 0 2em;
    padding: 0.1em 0.1em;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #666666;
    text-decoration: none;
    cursor : pointer;
}

.tab-item:hover {
    background-color: #f3e2b6ff;
}

.tabs .active {
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.tab-content {
    display: none;
    clear: both;
    overflow: hidden;
}

.some-space {
    position: fixed;
    height:11em;
    width: 100%;
    z-index: 99;
    background-color: #fff8dc;
}

.is-show {
  display: block;
}

#site-logo {
    margin: 0 0 0 4em;
    padding: 0.2em 0.2em;
    border-style: solid;
    border-width: 4px;
    border-color: #0c1d49ff;
    color: #0c1d49ff;
}

#login {
    margin: 0 4em 0 0;
    color: #ffffff;
    text-align: center;
    background-color: #0c1d49ff;
    border-radius: 4px;
    box-shadow: 0.1em 0.1em 0.1em #666666;
    font-weight: bold;
    font-size: 1em;
    cursor : pointer;
}

#top-message {
    height: 34em;
    margin: 11em 0 0 0;
    display: flex;
    justify-content: space-between;
    background-color: #0c1d49ff;
}

#top-left {
    color: #ffffff;
    padding: 0 0 0 5em;
    font-weight: bold;
}

#top-title {
    font-size: 4.5em;
    font-family: "Comic Sans MS";
}

#top-image {
    height: 34em;
}

.post-left-block {
    width: 20em;
}

#post-btn {
    margin: 6.5em 4em 0 0;
    padding: 0 0 0 0.5em;
    width: 5.3em;
    position:fixed;
    right:0%;
    vertical-align: middle;
    border-radius: 4px;
    cursor : pointer;
    font-size: 1.2em;
    color: #666666;
    font-weight: bold;
    box-shadow: 0.1em 0.1em 0.1em #666666;
}

#post-image {
    margin: 0.15em 0 0 -0.2em;
    height: 0.8em;
}

#post:hover {
    background-color: #f3e2b6ff;
}

#aaa {
    margin-top: 11em;
    height: 400em;
    background-color: wheat;
}